<%- include('./partials/header.ejs'); -%>

<div class="container">
  <div class="row justify-content-around mt-5">
    <h1>
      Connecting Witches and Wizards <br />
      all over the realms!
    </h1>
    <a class="col-3 btn btn-primary" href="/login"> Login</a>
    <a class="col-3 btn btn-primary" href="/signup"> Signup</a>
  </div>
</div>

<%- include('./partials/footer.ejs'); -%>
