<%- include('./partials/header.ejs'); -%>

    
    <div class="formContainer">
      <h1>Login to get the <span class="loginSplash">Latest & Freshest</span> <br>from the wisest <span class="loginSplash">Witches & Wizards</span> in the know</h1>
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>
      <div>
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit" class="btn btn2 effect01"><h4>login</h4></button>
        </form>
      </div>
    </div>
    
<%- include('./partials/footer.ejs'); -%>
